<ion-view view-title="Register Compost ports">
<div class="bar bar-stable">
   <h1 class="title">Register Compost Ports</h1>
</div>
	<ion-content class="PageBody">
	<form name="RegComPortsForm" novalidate>
		<div class="list">
		<label class="item item-divider">
			Your Compost Ports
		</label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Sensor Name</span>
		    <input type="text" placeholder="Sensor Name" name="SensorName" ng-model="RCP.SensorName" required>
		  </label>
		  <label class="item item-input item-floating-label">
		    <span class="input-label">Description</span>
		    <input type="text" placeholder="Description" name="Desc" ng-model="RCP.Desc" required>
		  </label>
		  <ion-toggle ng-model="checked" 
						ng-change="ToggleAvailability(checked)" class="TransparentBG">
						<span >Active</span>
			</ion-toggle>

			<div class="row FlexHCenter" ng-click="DoRegComPorts()">
			  	<button class="button button-full button-positive" 
			  			ng-disabled="RegComPortsForm.SensorName.$pristline || RegComPortsForm.SensorName.$error.required 
			  			|| RegComPortsForm.Desc.$pristline || RegComPortsForm.Desc.$error.required">
				  Save
				</button>
		 	 </div>
		</div>	
	</form>	
	<ion-content>
</ion-view>
