/* Empty. Add your own CSS if you like */
.PageBody
{
	margin-top: 45px;
}
.FlexHCenter
{
	justify-content:center;
}
.BlockHCenter
{
	text-align: center;
}
.NoPaddingMargin
{
	padding: 0;
	margin: 0;
}
#map {
  width: 100%;
  height: 100%;
}
.scroll
{
	height: 100%;
}